<!DOCTYPE html>
<html lang="id-ID">

<head>
    <%- include('./partials/head') %>
</head>

<style>
    #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(255, 0, 0);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }
</style>

<body class="bg-white" onload="myLoader()">

    <div id="loader"></div>

    <div class="animate-button" id="myDiv">

<header>
    <%- include('./partials/header') %>
</header>

<main>
    <div class="py-5 md:py-0 md:pb-20">
        <div class="grid grid-cols-1 h-full lg:mx-36">

            <% articles.forEach(function(article,index){ %>

                <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
                    <% } else{ %>
                        <a href="<%- article.url %>" target="_blank" style="-webkit-tap-highlight-color: transparent;" class="news-box md:Hover-effect h-36 md:h-52 my-0 md:my-5 relative top-16 flex md:hover:text-red-500 border-b border-gray-200">

                            <img class="w-24 h-20 md:h-40 md:w-72" src="<%- article.urlToImage %>" alt="Image">
                            <div class="block md:mx-6 ml-4 mr-2">
                                <h3 class="text-sm md:text-xl font-semibold w-full">
                                    <%- article.title %>
                                </h3>
                                <p class="text-xs md:text-base"><span class="" ><%- new Date(article.publishedAt.slice(0,10)).toDateString() %> </span></p>
                            </div>  
                            <br>

                        </a>
                    <% } %>
                <% }) %>
        </div>
    </div>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>

</div>

<script>
    let myVar;

    function myLoader() {
        myVar = setTimeout(showPage, 500);
    }   

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>

</body>

</html>