<!DOCTYPE html>
<html lang="id-ID">

<head>
    <%- include('./partials/head') %>
</head>

<body class="bg-white">

<header>
    <%- include('./partials/header') %>
</header>

<main>
    <div class="py-5 md:py-0 md:pb-20">
        <div class="grid grid-cols-1 h-full lg:mx-36">

            <% articles.forEach(function(article,index){ %>

                <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
                    <% } else{ %>
                        <a href="<%- article.url %>" target="_blank" style="-webkit-tap-highlight-color: transparent;" class="news-box md:Hover-effect h-36 md:h-52 my-0 md:my-5 relative top-16 flex md:hover:text-red-500 border-b border-gray-200">

                            <img class="w-24 h-20 md:h-40 md:w-72" src="<%- article.urlToImage %>" alt="Image">
                            <div class="block md:mx-6 ml-4 mr-2">
                                <h3 class="text-sm md:text-xl font-semibold w-full">
                                    <%- article.title %>
                                </h3>
                                <p class="text-xs md:text-base"><span class="" ><%- new Date(article.publishedAt.slice(0,10)).toDateString() %> </span></p>
                            </div>  
                            <br>

                        </a>
                    <% } %>
                <% }) %>
        </div>
    </div>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>
</body>

</html>